/* app.css */

/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

/* Reset */
ul {
  margin: 0;
  padding: 0px;
}
li {
  list-style: none;
}
input,
button {
  outline: none;
}

/* SHARED */
/* task-item   shared__label-input */
/* task-field  shared__field */
/* task-btn    shared__btn */
/* task-section-title shared__title */

/* former task-item */
.shared__label-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

/* former task-field */
.shared__field {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}
.shared__input:focus {
  color: #333;
}
/* former task-button */
.shared__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}
.shared__btn:hover {
  color: #3a3a3a;
}

/* Component style */
/* former todo-container */
.app__todo-container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* Heading */
.shared__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
